html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: rgb(6, 6, 33);
    background-image: url("https://images.unsplash.com/photo-1572414323397-e7918784a4b7?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8c3Vid2F5JTIwc3RhdGlvbnxlbnwwfHwwfHx8MA%3D%3D");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: white;
    text-align: center;
}

#counter {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#addBtn {
    background-color: rgb(15, 15, 101);
    border: none;
    color: white;
    font-size: 25px;
}

#subBtn {
    background-color: rgb(108, 13, 13);
    border: none;
    color: white;
    font-size: 25px;
}

#clearBtn {
    background-color: rgb(15, 75, 15);
    border: none;
    color: white;
    font-size: 25px;
}

#addBtn:hover {
    background-color: blue;
}

#subBtn:hover {
    background-color: red;
}

#clearBtn:hover {
    background-color: green;
}